<launch>
    <!-- Play Rosbag -->
    <node name="rosbag" pkg="rosbag" type="play" args="/fp/data/sequences/rnd/2024-06-18/Seq1_manual/vrtk2_9578dc_2024-06-18-08-12-35_calib_ros-cam.bag"  required="true"/>

    <!-- ArUco -->
    <node name="aruco_detect" pkg="aruco_detect" type="aruco_detect" output="screen" args="/camera:=/camera/image">
        <param name="dictionary" value="10"/>
        <param name="publish_images" value="true"/>
        <param name="fiducial_len" value=".1"/>
        <param name="fiducial_len_override" value="2-4:.05"/>
        <!-- <param name="ignore_fiducials" value="2-100"/> -->
    </node>

    <!-- STag -->
    <node name="stag_node" pkg="stag_ros" type="stag_node" output="screen" required="true">
        <rosparam command="load" file="$(find stag_ros)/cfg/single.yaml"/>
        <rosparam command="load" file="$(find stag_ros)/cfg/single_config.yaml"/>
    </node>

    <!-- Camera Info -->
    <node name="camera_info" pkg="stag_ros" type="yaml_to_camera_info_publisher.py"/>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stag_ros)/cfg/markers.rviz"/>

    <!-- image_view -->
    <!-- <node name="aruco_view" pkg="image_view" type="image_view" args="image:=/fiducial_images"/>
    <node name="stag_view" pkg="image_view" type="image_view" args="image:=/stag_ros/image_markers"/> -->

    <!-- Static TF for viz -->
    <node name="base_link_to_camera_tf" pkg="tf2_ros" type="static_transform_publisher" args="0 0 1.0 0 0 -1.57 base_link CAM" />
</launch>
