<launch>
    <!--Play ROSbag file-->
    <!-- <node name="rosbag" pkg="rosbag" type="play" args="$(find stag_ros)/bags/single.bag"  required="true"/> -->
    <node name="rosbag" pkg="rosbag" type="play" args="/fp/data/sequences/rnd/2024-06-17/Seq1/vrtk2_9578dc_2024-06-17-12-14-27_maximal_ros-cam.bag"  required="true"/>
    <!-- <node name="rosbag" pkg="rosbag" type="play" args="/fp/data/sequences/rnd/2024-06-17/Seq2/vrtk2_9578dc_2024-06-17-12-16-38_maximal_ros-cam.bag"  required="true"/> -->

    <!--Start Stag Node-->
    <node name="stag_node" pkg="stag_ros" type="stag_node" output="screen" required="true">
        <!-- Place the correct yaml file here-->
        <rosparam command="load" file="$(find stag_ros)/cfg/single.yaml"/>
        <!-- Place the correct bundle file here-->
        <rosparam command="load" file="$(find stag_ros)/cfg/single_config.yaml"/>
    </node>

    <node name="camera_info" pkg="feature_tracking" type="yaml_to_camera_info_publisher.py" output="screen"/>

    <node name="republish" type="republish" pkg="image_transport" output="screen" args="raw in:=/camera/lowres/image compressed out:=/camera" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stag_ros)/cfg/single.rviz"/>
</launch>
